#rs-client-libraries==0.2a7
./rs_client_libraries-0.0.0-py3-none-any.whl
boto3==1.35.70
botocore==1.35.70
requests==2.32.3
pystac==1.11.0
python-dotenv==1.0.1
opentelemetry-instrumentation-asyncio==0.48b0
opentelemetry-instrumentation-httpx==0.48b0